<a href="https://colab.research.google.com/github/ToobaObeidy-1/DA_bootcamp_python/blob/main/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
#modulo
2%100

2

In [ ]:
#a 2% increase in a 100 dollar, over the course of 2 years
100*1.02**24

160.84372494752262

In [ ]:
# a 100 dollar with a 10% tax return in an year
out = 100*1.1**7
print (out)

194.87171000000012

In [ ]:
age = 33

In [ ]:
print(age)

33

In [ ]:
# Write age, height, name of a person and calculate his age in 10 years and show all variables via print
name= ("john")
age= 34
height=123
print(name, age,height)
print(age+10)

john 34 123
44

In [ ]:
name = ("tooba")
age = 24

In [ ]:
type(age)

int

In [ ]:
x = ("oranges ")
y = ("apples")
print(x + y)

oranges apples

In [ ]:
result = 100
savings = 30
print(f"i have achieved $" + str(result) + " and i have saved $" + str(savings))

i have achieved $100 and i have saved $30

In [1]:
growth_null = 1.1
money = 100
result = money * growth_null ** 7
print(result)

194.87171000000012

In [2]:
desc = "compound interest"
print(desc)

compound interest

In [7]:
name = "Tooba"
age = 33
height = 154.94
print()

TypeError: can only concatenate str (not "set") to str

In [9]:
a = "Tooba"
b = "female"
c = "33"
d = "159.9 cm"
new_list=[a,b,c,d]
print(a,b,c,d)

Tooba female 33 159.9 cm

In [ ]:
cities = ["karachi, lahore, islamabad, peshawar, quetta, faislabad"]
print(cities)

In [10]:
a = "karachi"
b = "31 degrees"
c = 3780
d = True
city_info = [a,b,c,d]
print(city_info)

['karachi', '31 degrees', 3780, True]

list of lists, where you can put different lists in one list variable

In [ ]:
cities = [["khi", "hyd", "suk"],["lah"]]

**slicing and dicing**

In [26]:
h_p = ["I", "am", "lord", "Voldemort"]
print(h_p[1])

am

In [27]:
del h_p[1]

In [28]:
print(h_p)

['I', 'lord', 'Voldemort']

In [17]:
var2 = [h_p[10:]]
var1 = [h_p[:10]]
print(var1)
print(var2)

['I am lord ']
['Voldemort']

In [18]:
print(var1 + var2)

['I am lord ', 'Voldemort']

In [20]:
print(h_p[-4])
print(h_p[-3])

m
o

list in list

In [22]:
cities_list = [["khi", "isb", "lah"], ["ban", "del", "mum"], ["dha", "cha", "gha"]]
print(cities_list)

[['khi', 'isb', 'lah'], ['ban', 'del', 'mum'], ['dha', 'cha', 'gha']]

In [23]:
#proper way to answer
pak_cities = ["Karachi", "Islamabad", "Rawalpindi"]
ind_cities = ["Delhi", "Gujrat", "Lucknow"]
ban_cities = ["Dhaka","Chittagong", "Khulna"]
combine_cities = [pak_cities,ind_cities,ban_cities]
print(combine_cities)

[['Karachi', 'Islamabad', 'Rawalpindi'], ['Delhi', 'Gujrat', 'Lucknow'], ['Dhaka', 'Chittagong', 'Khulna']]

In [29]:
del(combine_cities[1][1])

In [30]:
print(combine_cities)

[['Karachi', 'Islamabad', 'Rawalpindi'], ['Delhi', 'Lucknow'], ['Dhaka', 'Chittagong', 'Khulna']]