<a href="https://colab.research.google.com/github/ToobaObeidy-1/DA_bootcamp_python/blob/main/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [2]:
#modulo
2%100

2

In [3]:
#a 2% increase in a 100 dollar, over the course of 2 years
100*1.02**24

160.84372494752262

In [13]:
# a 100 dollar with a 10% tax return in an year
out = 100*1.1**7
print (out)

194.87171000000012

In [10]:
age = 33

In [11]:
print(age)

33

In [15]:
# Write age, height, name of a person and calculate his age in 10 years and show all variables via print
name= ("john")
age= 34
height=123
print(name, age,height)
print(age+10)

john 34 123
44

In [16]:
name = ("tooba")
age = 24

In [17]:
type(age)

int

In [23]:
x = ("oranges ")
y = ("apples")
print(x + y)

oranges apples

In [26]:
result = 100
savings = 30
print(f"i have achieved $" + str(result) + " and i have saved $" + str(savings))

i have achieved $100 and i have saved $30